.App {
  text-align: center;
  background-color: rgb(6, 59, 6);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#custom-header {
  
  height: 100px;
  vertical-align: middle;
  background-image: url("./images/leaf-bg.jpg");
  text-shadow: 0 0 4px #000000;
  color: white;

}
#secondary-header{
  background-color: rgb(33, 146, 33);
}

#header-text {
  margin: auto 0 auto 10%;
}

.centered {
 text-align: center;
 width: 30%;
 margin: auto 0 auto auto;
}

#login-box {
  height: 100%;
  width: 10%;
  border-width: 1px;
}
#login-box a{
  width: 100%;
  height: 100%;
  border: #282c34;
  vertical-align: text-bottom;
  text-align: center;
  margin: 0 auto;
}

.center-content  {
  width: 500px !important;
  height: 700px !important;
  clear: both;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

.card-image{
  max-height: 450px;
  width: auto;
}

.padding{
 padding-left: 10%;
 padding-right: 10%;
}

.toxicity-info{
  font-size: 15px;
  color:black;
  font-weight: bold;
}

.privacy {
  text-align: left;
  background-color: antiquewhite;
}